.MuiAppBar {
    &-root {
        color: $textcolor-1 !important;
        background-color: $color-1 !important;
    }
}

.MuiToolbar {
    &-root {
        height: 2.5rem !important;
        min-height: unset !important;
    }
}
