// // Variables
// $font-title: 'Paytone One', sans-serif;
// $font-text: 'Roboto', sans-serif;

// $color-1: black;
// $color-2: #ae692b;
// $color-3: #dfb65a;
// $color-4: #ecd8a5;
// $color-5: #83664a;
// $textcolor-1: white;
// $textcolor-2: black;

// // Mixins
// @mixin fontTitle {
//     font-family: $font-title !important;
//     letter-spacing: 1px;
// }

// Global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

main {
    text-align: center;
}
